# SPDX-FileCopyrightText: 2023-present Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.tgz
.idea
.DS_Store

# Generated TLS certificate files
admission.conf
admission.csr
ca.key
ca.srl

# Test binary, built with `go test -c`
*.test
*.log

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

dist/
.release
.cr-release-packages

# Helm files
Chart.lock
