# SPDX-FileCopyrightText: 2022-present Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: atomix-sidecar-controller-config
data:
  logging.yaml:  |-
    loggers:
      root:
        level: {{ .Values.logging.rootLevel }}
        output:
          stdout:
            sink: stdout
{{ toYaml .Values.logging.loggers | indent 6 }}
    sinks:
      stdout:
        encoding: {{ .Values.logging.encoding }}
        stdout: {}