# SPDX-FileCopyrightText: 2022-present Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "atomix-runtime.fullname" . }}
  namespace: {{ .Release.Namespace }}